@{
    ViewData["Title"] = "Вхід";
}
<h2>Вхід</h2>
<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
        @Html.ValidationMessage("Email")
    </div>
    <div class="mb-3">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button class="btn btn-primary">Увійти</button>
    <a href="/User/Register" class="btn btn-link">Реєстрація</a>
</form>
